<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>
<h3>Product Search</h3>
<p>
    <a th:href="@{/products}">
        Back to product list
    </a>
</p>
<table id = "products">
    <thead>
    <tr>

        <th>Product Code</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${products}">
        <td th:text="${row.productCode}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.description}"></td>
        <td th:text="${row.price}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${row.id})}">edit</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${row.id})}">delete</a></td>
        <td><a th:href="@{/products/{id}/view(id=${row.id})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>