<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/index :: head"></head>
<body>
<header th:replace="/index :: header"></header>
<nav th:replace="/index :: navbar"></nav>
<div class="abc text-center"><h3>Edit Customer</h3></div>
<div id="form" class="text-center">
    <form th:action="@{/customer/update}" th:object="${customerList}"
          method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label><b>Customer Name</b></label>
            <input type="text" th:field="*{name}"/>
            <p style="color: red" th:errors="*{name}"
               th:if="${#fields.hasErrors('name')}"></p>
        </div>
        <div>
            <label><b>Date of birth</b></label>
            <input type="date" th:field="*{dateOfBirth}"/>
            <p style="color: red" th:errors="*{dateOfBirth}"
               th:if="${#fields.hasErrors('dateOfBirth')}"></p>
        </div>
        <div>
            <label><b>Gender</b></label>
            <input type="radio" th:field="*{gender}" value="1"/>Male
            <input type="radio" th:field="*{gender}" value="0"/>Female
            <input type="radio" th:field="*{gender}" value="2"/>LGBT
            <p style="color: red" th:errors="*{gender}"
               th:if="${#fields.hasErrors('gender')}"></p>
        </div>
        <div>
            <label><b>Id Card</b></label>
            <input type="text" th:field="*{idCard}"/>
            <p style="color: red" th:errors="*{idCard}"
               th:if="${#fields.hasErrors('idCard')}"></p>
        </div>
        <div>
            <label><b>Phone Number</b></label>
            <input type="number" th:field="*{phoneNumber}"/>
            <p style="color: red" th:errors="*{phoneNumber}"
               th:if="${#fields.hasErrors('phoneNumber')}"></p>
        </div>
        <div>
            <label><b>Email</b></label>
            <input type="text" th:field="*{email}"/>
            <p style="color: red" th:errors="*{email}"
               th:if="${#fields.hasErrors('email')}"></p>
        </div>
        <div>
            <label><b>Address</b></label>
            <input type="text" th:field="*{address}"/>
            <p style="color: red" th:errors="*{address}"
               th:if="${#fields.hasErrors('address')}"></p>
        </div>
        <div>
            <label><b>Customer type</b></label>
            <select th:field="*{customerType}">
                <option th:each="item :${customerTypeList}"
                        th:text="${item.name}"
                        th:value="${item.id}">

                </option>
            </select>
        </div>
        <input id="edit" type="submit" value="Edit"/>
    </form>
</div>

</body>
<footer th:insert="/index :: footer"></footer>
</html>